.container {
    margin: 100px auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    gap: 4rem;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 2rem;
        margin: 50px auto;
        padding: 0 1rem;
    }
}